.o-container
  margin: 0 auto
  max-width: 1240px      // max-width: 1024px + 1rem
  padding-left: 1rem
  padding-right: 1rem
  width: 100%

  @media (min-width: 1024px)
    max-width: 1256px    // max-width: 1024px + 2rem
    padding-left: 2rem
    padding-right: 2rem
