/*------------------------------------*\
  #Settings
\*------------------------------------*/

@import '1_settings/*'





/*------------------------------------*\
  #Tools
\*------------------------------------*/

@import '2_tools/*'





/*------------------------------------*\
  #Generic
\*------------------------------------*/

@import "~sanitize.css/sanitize.css"
@import "3_generic/vue-app-default"
// @import "3_generic/skeleton"





/*------------------------------------*\
  #Base
\*------------------------------------*/

@import "4_base/*"





/*------------------------------------*\
  #Object
\*------------------------------------*/

@import "5_objects/*"




/*------------------------------------*\
  #Componets
\*------------------------------------*/

@import "6_components/*"






/*------------------------------------*\
  #Trumps
\*------------------------------------*/

@import '7_trumps/*'


// // icomoon config
// @import "~fonts/icons/style.scss"
// // transfonter.org config
// @import "~fonts/base/stylesheet.css"
